
/AcmLogging/obj/Debug/netcoreapp2.1/AcmLogging.AssemblyInfo.cs
/AcmLogging/obj/Debug/netcoreapp2.1/AcmLogging.AssemblyInfoInputs.cache
/AcmLogging/obj/Debug/netcoreapp2.1/AcmLogging.assets.cache
/AcmLogging/obj/Debug/netcoreapp2.1/AcmLogging.csproj.CoreCompileInputs.cache
/AcmLogging/obj/Debug/netcoreapp2.1/AcmLogging.csproj.FileListAbsolute.txt
/AcmLogging/obj/Debug/netcoreapp2.1/AcmLogging.csprojAssemblyReference.cache
/AcmLogging/obj/Debug/netcoreapp2.1/AcmLogging.dll
/AcmLogging/obj/Debug/netcoreapp2.1/AcmLogging.pdb
/AcmLogging/obj/AcmLogging.csproj.nuget.cache
/AcmLogging/obj/AcmLogging.csproj.nuget.dgspec.json
/AcmLogging/obj/AcmLogging.csproj.nuget.g.props
/AcmLogging/obj/AcmLogging.csproj.nuget.g.targets
/AcmLogging/obj/project.assets.json
/AcmLogging/obj/project.packagespec.json
/AcmLogging/bin/Debug/netcoreapp2.1/AcmLogging.deps.json
/AcmLogging/bin/Debug/netcoreapp2.1/AcmLogging.dll
/AcmLogging/bin/Debug/netcoreapp2.1/AcmLogging.pdb
/AcmCommissionsStatements/bin/Debug/netcoreapp2.1/AcmCommissionsStatements.deps.json
/AcmCommissionsStatements/bin/Debug/netcoreapp2.1/AcmCommissionsStatements.dll
/AcmCommissionsStatements/bin/Debug/netcoreapp2.1/AcmCommissionsStatements.pdb
/AcmCommissionsStatements/bin/Debug/netcoreapp2.1/AcmCommissionsStatements.runtimeconfig.dev.json
/AcmCommissionsStatements/bin/Debug/netcoreapp2.1/AcmCommissionsStatements.runtimeconfig.json
/AcmCommissionsStatements/bin/Debug/netcoreapp2.1/appsettings.json
/AcmCommissionsStatements/bin/Debug/netcoreapp2.1/Aristotle.Excel.dll
/AcmCommissionsStatements/bin/Debug/netcoreapp2.1/Aristotle.Excel.pdb
/AcmCommissionsStatements/bin/Debug/netcoreapp2.1/Core.dll
/AcmCommissionsStatements/bin/Debug/netcoreapp2.1/Core.pdb
/AcmCommissionsStatements/bin/Debug/netcoreapp2.1/DapperDatabaseAccess.dll
/AcmCommissionsStatements/bin/Debug/netcoreapp2.1/DapperDatabaseAccess.pdb
/AcmCommissionsStatements/obj/Debug/netcoreapp2.1/AcmCommissionsStatements.AssemblyInfo.cs
/AcmCommissionsStatements/obj/Debug/netcoreapp2.1/AcmCommissionsStatements.AssemblyInfoInputs.cache
/AcmCommissionsStatements/obj/Debug/netcoreapp2.1/AcmCommissionsStatements.assets.cache
/AcmCommissionsStatements/obj/Debug/netcoreapp2.1/AcmCommissionsStatements.csproj.CopyComplete
/AcmCommissionsStatements/obj/Debug/netcoreapp2.1/AcmCommissionsStatements.csproj.CoreCompileInputs.cache
/AcmCommissionsStatements/obj/Debug/netcoreapp2.1/AcmCommissionsStatements.csproj.FileListAbsolute.txt
/AcmCommissionsStatements/obj/Debug/netcoreapp2.1/AcmCommissionsStatements.csprojAssemblyReference.cache
/AcmCommissionsStatements/obj/Debug/netcoreapp2.1/AcmCommissionsStatements.dll
/AcmCommissionsStatements/obj/Debug/netcoreapp2.1/AcmCommissionsStatements.pdb
/AcmCommissionsStatements/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AcmCommissionsStatements/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AcmCommissionsStatements/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/AcmCommissionsStatements/obj/AcmCommissionsStatements.csproj.nuget.cache
/AcmCommissionsStatements/obj/AcmCommissionsStatements.csproj.nuget.dgspec.json
/AcmCommissionsStatements/obj/AcmCommissionsStatements.csproj.nuget.g.props
/AcmCommissionsStatements/obj/AcmCommissionsStatements.csproj.nuget.g.targets
/AcmCommissionsStatements/obj/project.assets.json
/AcmCommissionsStatements/obj/project.packagespec.json
/AcmLogging.UnitTest/bin/Debug/netcoreapp2.1/AcmLogging.Data.dll
/AcmLogging.UnitTest/bin/Debug/netcoreapp2.1/AcmLogging.Data.pdb
/AcmLogging.UnitTest/bin/Debug/netcoreapp2.1/AcmLogging.dll
/AcmLogging.UnitTest/bin/Debug/netcoreapp2.1/AcmLogging.pdb
/AcmLogging.UnitTest/bin/Debug/netcoreapp2.1/AcmLogging.UnitTest.deps.json
/AcmLogging.UnitTest/bin/Debug/netcoreapp2.1/AcmLogging.UnitTest.dll
/AcmLogging.UnitTest/bin/Debug/netcoreapp2.1/AcmLogging.UnitTest.pdb
/AcmLogging.UnitTest/bin/Debug/netcoreapp2.1/AcmLogging.UnitTest.runtimeconfig.dev.json
/AcmLogging.UnitTest/bin/Debug/netcoreapp2.1/AcmLogging.UnitTest.runtimeconfig.json
/AcmLogging.UnitTest/bin/Debug/netcoreapp2.1/Core.dll
/AcmLogging.UnitTest/bin/Debug/netcoreapp2.1/Core.pdb
/AcmLogging.UnitTest/bin/Debug/netcoreapp2.1/DapperDatabaseAccess.dll
/AcmLogging.UnitTest/bin/Debug/netcoreapp2.1/DapperDatabaseAccess.pdb
/AcmLogging.UnitTest/bin/Debug/netcoreapp2.1/xunit.runner.reporters.netcoreapp10.dll
/AcmLogging.UnitTest/bin/Debug/netcoreapp2.1/xunit.runner.utility.netcoreapp10.dll
/AcmLogging.UnitTest/bin/Debug/netcoreapp2.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
/AcmLogging.UnitTest/obj/Debug/netcoreapp2.1/AcmLogging.UnitTest.AssemblyInfo.cs
/AcmLogging.UnitTest/obj/Debug/netcoreapp2.1/AcmLogging.UnitTest.AssemblyInfoInputs.cache
/AcmLogging.UnitTest/obj/Debug/netcoreapp2.1/AcmLogging.UnitTest.assets.cache
/AcmLogging.UnitTest/obj/Debug/netcoreapp2.1/AcmLogging.UnitTest.csproj.CopyComplete
/AcmLogging.UnitTest/obj/Debug/netcoreapp2.1/AcmLogging.UnitTest.csproj.CoreCompileInputs.cache
/AcmLogging.UnitTest/obj/Debug/netcoreapp2.1/AcmLogging.UnitTest.csproj.FileListAbsolute.txt
/AcmLogging.UnitTest/obj/Debug/netcoreapp2.1/AcmLogging.UnitTest.csprojAssemblyReference.cache
/AcmLogging.UnitTest/obj/Debug/netcoreapp2.1/AcmLogging.UnitTest.dll
/AcmLogging.UnitTest/obj/Debug/netcoreapp2.1/AcmLogging.UnitTest.pdb
/AcmLogging.UnitTest/obj/Debug/netcoreapp2.1/AcmLogging.UnitTest.Program.cs
/AcmLogging.UnitTest/obj/AcmLogging.UnitTest.csproj.nuget.cache
/AcmLogging.UnitTest/obj/AcmLogging.UnitTest.csproj.nuget.dgspec.json
/AcmLogging.UnitTest/obj/AcmLogging.UnitTest.csproj.nuget.g.props
/AcmLogging.UnitTest/obj/AcmLogging.UnitTest.csproj.nuget.g.targets
/AcmLogging.UnitTest/obj/project.assets.json
/AcmLogging.UnitTest/obj/project.packagespec.json
/Aristotle.Excel/bin/Debug/netcoreapp2.1/Aristotle.Excel.deps.json
/Aristotle.Excel/bin/Debug/netcoreapp2.1/Aristotle.Excel.dll
/Aristotle.Excel/bin/Debug/netcoreapp2.1/Aristotle.Excel.pdb
/Aristotle.Excel/bin/Debug/netcoreapp2.1/Core.dll
/Aristotle.Excel/bin/Debug/netcoreapp2.1/Core.pdb
/Aristotle.Excel/obj/Debug/netcoreapp2.1/Aristotle.Excel.AssemblyInfo.cs
/Aristotle.Excel/obj/Debug/netcoreapp2.1/Aristotle.Excel.AssemblyInfoInputs.cache
/Aristotle.Excel/obj/Debug/netcoreapp2.1/Aristotle.Excel.assets.cache
/Aristotle.Excel/obj/Debug/netcoreapp2.1/Aristotle.Excel.csproj.CopyComplete
/Aristotle.Excel/obj/Debug/netcoreapp2.1/Aristotle.Excel.csproj.CoreCompileInputs.cache
/Aristotle.Excel/obj/Debug/netcoreapp2.1/Aristotle.Excel.csproj.FileListAbsolute.txt
/Aristotle.Excel/obj/Debug/netcoreapp2.1/Aristotle.Excel.csprojAssemblyReference.cache
/Aristotle.Excel/obj/Debug/netcoreapp2.1/Aristotle.Excel.dll
/Aristotle.Excel/obj/Debug/netcoreapp2.1/Aristotle.Excel.pdb
/Aristotle.Excel/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Aristotle.Excel/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Aristotle.Excel/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Aristotle.Excel/obj/Aristotle.Excel.csproj.nuget.cache
/Aristotle.Excel/obj/Aristotle.Excel.csproj.nuget.dgspec.json
/Aristotle.Excel/obj/Aristotle.Excel.csproj.nuget.g.props
/Aristotle.Excel/obj/Aristotle.Excel.csproj.nuget.g.targets
/Aristotle.Excel/obj/project.assets.json
/Aristotle.Excel/obj/project.packagespec.json
/BroadridgeStatementLib/obj/Debug/netcoreapp2.1/BroadridgeStatementLib.AssemblyInfo.cs
/BroadridgeStatementLib/obj/Debug/netcoreapp2.1/BroadridgeStatementLib.AssemblyInfoInputs.cache
/BroadridgeStatementLib/obj/Debug/netcoreapp2.1/BroadridgeStatementLib.assets.cache
/BroadridgeStatementLib/obj/BroadridgeStatementLib.csproj.nuget.cache
/BroadridgeStatementLib/obj/BroadridgeStatementLib.csproj.nuget.g.props
/BroadridgeStatementLib/obj/BroadridgeStatementLib.csproj.nuget.g.targets
/BroadridgeStatementLib/obj/project.assets.json
/BroadridgeStatementLib/obj/project.packagespec.json
/Core/bin/Debug/netcoreapp2.1/Core.deps.json
/Core/bin/Debug/netcoreapp2.1/Core.dll
/Core/bin/Debug/netcoreapp2.1/Core.pdb
/Core/obj/Debug/netcoreapp2.1/Core.AssemblyInfo.cs
/Core/obj/Debug/netcoreapp2.1/Core.AssemblyInfoInputs.cache
/Core/obj/Debug/netcoreapp2.1/Core.assets.cache
/Core/obj/Debug/netcoreapp2.1/Core.csproj.CoreCompileInputs.cache
/Core/obj/Debug/netcoreapp2.1/Core.csproj.FileListAbsolute.txt
/Core/obj/Debug/netcoreapp2.1/Core.csprojAssemblyReference.cache
/Core/obj/Debug/netcoreapp2.1/Core.dll
/Core/obj/Debug/netcoreapp2.1/Core.pdb
/Core/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Core/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Core/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Core/obj/Core.csproj.nuget.cache
/Core/obj/Core.csproj.nuget.dgspec.json
/Core/obj/Core.csproj.nuget.g.props
/Core/obj/Core.csproj.nuget.g.targets
/Core/obj/project.assets.json
/Core/obj/project.packagespec.json
/DapperDatabaseAccess/bin/Debug/netcoreapp2.1/Core.dll
/DapperDatabaseAccess/bin/Debug/netcoreapp2.1/Core.pdb
/DapperDatabaseAccess/bin/Debug/netcoreapp2.1/DapperDatabaseAccess.deps.json
/DapperDatabaseAccess/bin/Debug/netcoreapp2.1/DapperDatabaseAccess.dll
/DapperDatabaseAccess/bin/Debug/netcoreapp2.1/DapperDatabaseAccess.pdb
/DapperDatabaseAccess/obj/Debug/netcoreapp2.1/DapperDatabaseAccess.AssemblyInfo.cs
/DapperDatabaseAccess/obj/Debug/netcoreapp2.1/DapperDatabaseAccess.AssemblyInfoInputs.cache
/DapperDatabaseAccess/obj/Debug/netcoreapp2.1/DapperDatabaseAccess.assets.cache
/DapperDatabaseAccess/obj/Debug/netcoreapp2.1/DapperDatabaseAccess.csproj.CopyComplete
/DapperDatabaseAccess/obj/Debug/netcoreapp2.1/DapperDatabaseAccess.csproj.CoreCompileInputs.cache
/DapperDatabaseAccess/obj/Debug/netcoreapp2.1/DapperDatabaseAccess.csproj.FileListAbsolute.txt
/DapperDatabaseAccess/obj/Debug/netcoreapp2.1/DapperDatabaseAccess.csprojAssemblyReference.cache
/DapperDatabaseAccess/obj/Debug/netcoreapp2.1/DapperDatabaseAccess.dll
/DapperDatabaseAccess/obj/Debug/netcoreapp2.1/DapperDatabaseAccess.pdb
/DapperDatabaseAccess/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DapperDatabaseAccess/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DapperDatabaseAccess/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DapperDatabaseAccess/obj/DapperDatabaseAccess.csproj.nuget.cache
/DapperDatabaseAccess/obj/DapperDatabaseAccess.csproj.nuget.dgspec.json
/DapperDatabaseAccess/obj/DapperDatabaseAccess.csproj.nuget.g.props
/DapperDatabaseAccess/obj/DapperDatabaseAccess.csproj.nuget.g.targets
/DapperDatabaseAccess/obj/project.assets.json
/DapperDatabaseAccess/obj/project.packagespec.json
/Database/ACM_Studio_V2.mdf
/Database/ACM_Studio_V2_log.ldf
/DbUp.AcmStudio.V2.DbMigrator/obj/Debug/netcoreapp2.1/DbUp.AcmStudio.V2.DbMigrator.AssemblyInfo.cs
/DbUp.AcmStudio.V2.DbMigrator/obj/Debug/netcoreapp2.1/DbUp.AcmStudio.V2.DbMigrator.AssemblyInfoInputs.cache
/DbUp.AcmStudio.V2.DbMigrator/obj/Debug/netcoreapp2.1/DbUp.AcmStudio.V2.DbMigrator.assets.cache
/DbUp.AcmStudio.V2.DbMigrator/obj/Debug/netcoreapp2.1/DbUp.AcmStudio.V2.DbMigrator.csproj.FileListAbsolute.txt
/DbUp.AcmStudio.V2.DbMigrator/obj/Debug/netcoreapp2.1/DbUp.AcmStudio.V2.DbMigrator.csprojAssemblyReference.cache
/DbUp.AcmStudio.V2.DbMigrator/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DbUp.AcmStudio.V2.DbMigrator/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DbUp.AcmStudio.V2.DbMigrator/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DbUp.AcmStudio.V2.DbMigrator/obj/DbUp.AcmStudio.V2.DbMigrator.csproj.nuget.cache
/DbUp.AcmStudio.V2.DbMigrator/obj/DbUp.AcmStudio.V2.DbMigrator.csproj.nuget.dgspec.json
/DbUp.AcmStudio.V2.DbMigrator/obj/DbUp.AcmStudio.V2.DbMigrator.csproj.nuget.g.props
/DbUp.AcmStudio.V2.DbMigrator/obj/DbUp.AcmStudio.V2.DbMigrator.csproj.nuget.g.targets
/DbUp.AcmStudio.V2.DbMigrator/obj/project.assets.json
/DbUp.AcmStudio.V2.DbMigrator/obj/project.packagespec.json
/DbUp.AcmStudio.V2.DbMigrator/exec_dbo_prc_RegionalDirector_RateInfo_F.csv
/ETL/bin/Debug/netcoreapp2.1/appsettings.json
/ETL/bin/Debug/netcoreapp2.1/Core.dll
/ETL/bin/Debug/netcoreapp2.1/Core.pdb
/ETL/bin/Debug/netcoreapp2.1/DapperDatabaseAccess.dll
/ETL/bin/Debug/netcoreapp2.1/DapperDatabaseAccess.pdb
/ETL/bin/Debug/netcoreapp2.1/ETL.deps.json
/ETL/bin/Debug/netcoreapp2.1/ETL.dll
/ETL/bin/Debug/netcoreapp2.1/ETL.pdb
/ETL/bin/Debug/netcoreapp2.1/ETL.runtimeconfig.dev.json
/ETL/bin/Debug/netcoreapp2.1/ETL.runtimeconfig.json
/ETL/obj/Debug/netcoreapp2.1/ETL.AssemblyInfo.cs
/ETL/obj/Debug/netcoreapp2.1/ETL.AssemblyInfoInputs.cache
/ETL/obj/Debug/netcoreapp2.1/ETL.assets.cache
/ETL/obj/Debug/netcoreapp2.1/ETL.csproj.CopyComplete
/ETL/obj/Debug/netcoreapp2.1/ETL.csproj.CoreCompileInputs.cache
/ETL/obj/Debug/netcoreapp2.1/ETL.csproj.FileListAbsolute.txt
/ETL/obj/Debug/netcoreapp2.1/ETL.csprojAssemblyReference.cache
/ETL/obj/Debug/netcoreapp2.1/ETL.dll
/ETL/obj/Debug/netcoreapp2.1/ETL.pdb
/ETL/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ETL/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ETL/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ETL/obj/ETL.csproj.nuget.cache
/ETL/obj/ETL.csproj.nuget.dgspec.json
/ETL/obj/ETL.csproj.nuget.g.props
/ETL/obj/ETL.csproj.nuget.g.targets
/ETL/obj/project.assets.json
/ETL/obj/project.packagespec.json
/GenevaSmaStatementLib/bin/Debug/netcoreapp2.1/Aristotle.Excel.dll
/GenevaSmaStatementLib/bin/Debug/netcoreapp2.1/Aristotle.Excel.pdb
/GenevaSmaStatementLib/bin/Debug/netcoreapp2.1/Core.dll
/GenevaSmaStatementLib/bin/Debug/netcoreapp2.1/Core.pdb
/GenevaSmaStatementLib/bin/Debug/netcoreapp2.1/DapperDatabaseAccess.dll
/GenevaSmaStatementLib/bin/Debug/netcoreapp2.1/DapperDatabaseAccess.pdb
/GenevaSmaStatementLib/bin/Debug/netcoreapp2.1/GenevaSmaStatementLib.deps.json
/GenevaSmaStatementLib/bin/Debug/netcoreapp2.1/GenevaSmaStatementLib.dll
/GenevaSmaStatementLib/bin/Debug/netcoreapp2.1/GenevaSmaStatementLib.pdb
/GenevaSmaStatementLib/obj/Debug/netcoreapp2.1/GenevaSmaStatementLib.AssemblyInfo.cs
/GenevaSmaStatementLib/obj/Debug/netcoreapp2.1/GenevaSmaStatementLib.AssemblyInfoInputs.cache
/GenevaSmaStatementLib/obj/Debug/netcoreapp2.1/GenevaSmaStatementLib.assets.cache
/GenevaSmaStatementLib/obj/Debug/netcoreapp2.1/GenevaSmaStatementLib.csproj.CopyComplete
/GenevaSmaStatementLib/obj/Debug/netcoreapp2.1/GenevaSmaStatementLib.csproj.CoreCompileInputs.cache
/GenevaSmaStatementLib/obj/Debug/netcoreapp2.1/GenevaSmaStatementLib.csproj.FileListAbsolute.txt
/GenevaSmaStatementLib/obj/Debug/netcoreapp2.1/GenevaSmaStatementLib.csprojAssemblyReference.cache
/GenevaSmaStatementLib/obj/Debug/netcoreapp2.1/GenevaSmaStatementLib.dll
/GenevaSmaStatementLib/obj/Debug/netcoreapp2.1/GenevaSmaStatementLib.pdb
/GenevaSmaStatementLib/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/GenevaSmaStatementLib/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/GenevaSmaStatementLib/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/GenevaSmaStatementLib/obj/GenevaSmaStatementLib.csproj.nuget.cache
/GenevaSmaStatementLib/obj/GenevaSmaStatementLib.csproj.nuget.g.props
/GenevaSmaStatementLib/obj/GenevaSmaStatementLib.csproj.nuget.g.targets
/GenevaSmaStatementLib/obj/project.assets.json
/GenevaSmaStatementLib/obj/project.packagespec.json
/Inbound/Broadridge/BroadridgeAssets - 2019-Q2.csv
/Inbound/Broadridge/BroadridgeAssets - 2019-Q2_old.csv
/Inbound/Broadridge/BroadridgeSales - 2019-Q2.csv
/Inbound/Broadridge/BroadridgeSales - 2019-Q2_old.csv
/Inbound/Geneva/Q2 2019 SMA - Asset File Back.csv
/Inbound/Geneva/Q2 2019 SMA - Sales File Back.csv
/Inbound/Geneva/SMA AUM Data.csv
/Inbound/Geneva/SMA AUM Data Back.csv
/Inbound/Geneva/SMA Sales Data.csv
/Inbound/Geneva/SMA Sales Data Back.csv
/Outbound/Broadridge.Uma/BroadridgeUma_20190812_084610.xlsx
/Outbound/Broadridge.Uma/BroadridgeUma_20190812_090119.xlsx
/Outbound/Broadridge.Uma/BroadridgeUma_MerrillMorgan20190805_150954.xlsx
/Outbound/Broadridge.Uma/BroadridgeUma_MerrillMorgan20190812_090045.xlsx
/Outbound/Geneva.Sma/GenevaSma_20190801_083914.xlsx
/Outbound/Geneva.Sma/GenevaSma_20190801_084105.xlsx
/Outbound/Geneva.Sma/GenevaSma_20190801_084926.xlsx
/Outbound/Geneva.Sma/GenevaSma_20190801_090346.xlsx
/Outbound/Geneva.Sma/GenevaSma_20190801_225402.xlsx
/Outbound/Geneva.Sma/GenevaSma_20190805_145709.xlsx
/Outbound/Geneva.Sma/GenevaSma_20190805_145948.xlsx
/Logging/AcmLogging.Data/bin/Debug/netcoreapp2.1/AcmLogging.Data.deps.json
/Logging/AcmLogging.Data/bin/Debug/netcoreapp2.1/AcmLogging.Data.dll
/Logging/AcmLogging.Data/bin/Debug/netcoreapp2.1/AcmLogging.Data.pdb
/Logging/AcmLogging.Data/obj/Debug/netcoreapp2.1/AcmLogging.Data.AssemblyInfo.cs
/Logging/AcmLogging.Data/obj/Debug/netcoreapp2.1/AcmLogging.Data.AssemblyInfoInputs.cache
/Logging/AcmLogging.Data/obj/Debug/netcoreapp2.1/AcmLogging.Data.assets.cache
/Logging/AcmLogging.Data/obj/Debug/netcoreapp2.1/AcmLogging.Data.csproj.CoreCompileInputs.cache
/Logging/AcmLogging.Data/obj/Debug/netcoreapp2.1/AcmLogging.Data.csproj.FileListAbsolute.txt
/Logging/AcmLogging.Data/obj/Debug/netcoreapp2.1/AcmLogging.Data.csprojAssemblyReference.cache
/Logging/AcmLogging.Data/obj/Debug/netcoreapp2.1/AcmLogging.Data.dll
/Logging/AcmLogging.Data/obj/Debug/netcoreapp2.1/AcmLogging.Data.pdb
/Logging/AcmLogging.Data/obj/AcmLogging.Data.csproj.nuget.cache
/Logging/AcmLogging.Data/obj/AcmLogging.Data.csproj.nuget.dgspec.json
/Logging/AcmLogging.Data/obj/AcmLogging.Data.csproj.nuget.g.props
/Logging/AcmLogging.Data/obj/AcmLogging.Data.csproj.nuget.g.targets
/Logging/AcmLogging.Data/obj/project.assets.json
/Logging/AcmLogging.Data/obj/project.packagespec.json
/UmaMerrillStatementLib/bin/Debug/netcoreapp2.1/Aristotle.Excel.dll
/UmaMerrillStatementLib/bin/Debug/netcoreapp2.1/Aristotle.Excel.pdb
/UmaMerrillStatementLib/bin/Debug/netcoreapp2.1/Core.dll
/UmaMerrillStatementLib/bin/Debug/netcoreapp2.1/Core.pdb
/UmaMerrillStatementLib/bin/Debug/netcoreapp2.1/DapperDatabaseAccess.dll
/UmaMerrillStatementLib/bin/Debug/netcoreapp2.1/DapperDatabaseAccess.pdb
/UmaMerrillStatementLib/bin/Debug/netcoreapp2.1/UmaMerrillStatementLib.deps.json
/UmaMerrillStatementLib/bin/Debug/netcoreapp2.1/UmaMerrillStatementLib.dll
/UmaMerrillStatementLib/bin/Debug/netcoreapp2.1/UmaMerrillStatementLib.pdb
/UmaMerrillStatementLib/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/UmaMerrillStatementLib/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/UmaMerrillStatementLib/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/UmaMerrillStatementLib/obj/Debug/netcoreapp2.1/UmaMerrillStatementLib.AssemblyInfo.cs
/UmaMerrillStatementLib/obj/Debug/netcoreapp2.1/UmaMerrillStatementLib.AssemblyInfoInputs.cache
/UmaMerrillStatementLib/obj/Debug/netcoreapp2.1/UmaMerrillStatementLib.assets.cache
/UmaMerrillStatementLib/obj/Debug/netcoreapp2.1/UmaMerrillStatementLib.csproj.CopyComplete
/UmaMerrillStatementLib/obj/Debug/netcoreapp2.1/UmaMerrillStatementLib.csproj.CoreCompileInputs.cache
/UmaMerrillStatementLib/obj/Debug/netcoreapp2.1/UmaMerrillStatementLib.csproj.FileListAbsolute.txt
/UmaMerrillStatementLib/obj/Debug/netcoreapp2.1/UmaMerrillStatementLib.csprojAssemblyReference.cache
/UmaMerrillStatementLib/obj/Debug/netcoreapp2.1/UmaMerrillStatementLib.dll
/UmaMerrillStatementLib/obj/Debug/netcoreapp2.1/UmaMerrillStatementLib.pdb
/UmaMerrillStatementLib/obj/project.assets.json
/UmaMerrillStatementLib/obj/project.packagespec.json
/UmaMerrillStatementLib/obj/UmaMerrillStatementLib.csproj.nuget.cache
/UmaMerrillStatementLib/obj/UmaMerrillStatementLib.csproj.nuget.g.props
/UmaMerrillStatementLib/obj/UmaMerrillStatementLib.csproj.nuget.g.targets
